[submodule "qtlibbw"]
	path = qtlibbw
	url = https://github.com/immesys/qtlibbw.git
[submodule "mr-plotter-qml"]
	path = mr-plotter-qml
	url = https://github.com/SoftwareDefinedBuildings/mr-plotter-qml
[submodule "material"]
	path = material
	url = https://github.com/immesys/qml-material.git
